@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Loop:ital@0;1&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background:#f2f2f2;
    
   
}
.container{
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    background-color:rgb(153, 121, 173) ;
    border-radius: 5px;
    padding: 25px;
}
.container header{
    font-size: 25px;
    font-weight: 600;
}
.container .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputField input{
    width: 85%;
    height: 100%;
    border: 1px solid black;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.inputField button{
     width: 60px;
     height: 100%;
     border: none;
     outline: none;
     background-color: rgb(7, 7, 7);
     color: white;
     font-size: 25px;
     border-radius: 50px;
     margin-left: 5px;
     opacity: 0.6;  
     pointer-events: none;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;

}
 .container.todolist{
    max-height: 250px;
    overflow-y: auto;
 }
.todolist li{
     list-style:none;
     height: 45px;
     line-height: 45px;
     position: relative;
     background: #f2f2f2;
     border-radius: 30px;
     margin-bottom: 8px;
     padding: 0 15px;
     overflow: hidden;
     color:rgb(2, 80, 2);
}
.todolist li span{
    position: absolute;
    right: -45px;
    background-color: #e9301b;
    color: rgb(0, 0, 0);
    width: 45px;
    text-align: center;
    border-radius:0 3px 3px 0;
    cursor: pointer;
    transition: all 0.1s ease;
}
.todolist li:hover span{
    right: 0px;
}
.container .footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(194, 51, 51);
}
.footer button{
     border: none;
     outline: none;
     background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
     font-size: 16px;
     border-radius: 3px;
     padding: 6px 10px;
     opacity: 0.6;  
     pointer-events:none;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;

}

 